@using System.Configuration
<!DOCTYPE html>
<html lang="en">

<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">

	<link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/Content/css/jquery-ui.min.css" rel="stylesheet" />
	<link href="/Content/css/styles.min.css" rel="stylesheet" />

	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<title>@ViewBag.Title</title>
</head>
	<body>

		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Food Banks MVC</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/FoodBanks/">Food Banks</a>
						</li>
						<li>
							<a href="/Volunteers/">Volunteers</a>
						</li>
						<li>
							<a href="/Donations/">Donations</a>
						</li>
						<li>
							<a href="/About/">About</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<header class="intro-header" style="background-image: url('/content/images/home-bg.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<h1>Food Banks MVC</h1>
							<hr class="small"><br/>
							<span class="subheading">Managing Food Banks, Volunteers and Donations Since 1917. Ok since 2015 lol!</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		@RenderBody()
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<ul class="list-inline text-center">
							<li>
								<a href="#" title="Food Banks doesn't have social media profiles.">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#" title="Food Banks doesn't have social media profiles.">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#" title="Food Banks doesn't have social media profiles.">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						<p class="copyright text-muted">Copyright &copy; Chris Parker 2015</p><span style="font-size: 9px;">@ConfigurationManager.AppSettings["ServerName"]</span>
					</div>
				</div>
			</div>
		</footer>
		
        <script src="/Content/js/jquery.min.js"></script>
        <script src="/Content/js/jquery.validate.min.js"></script>
        <script src="/Content/js/jquery.validate.unobtrusive.min.js"></script>
        <script src="/Content/js/jquery.unobtrusive-ajax.min.js"></script>

        <script src="/Content/js/bootstrap.min.js"></script>
        <script src="/Content/js/jquery-ui.min.js"></script>
        
        <script src="/Content/js/custom.js"></script>
        <style>
            .ui-datepicker {
                background-color: #fff;
                border: 1px solid #66AFE9;
                border-radius: 4px;
                box-shadow: 0 0 8px rgba(102,175,233,.6);
                display: none;
                margin-top: 4px;
                padding: 10px;
                width: 240px;
            }

                .ui-datepicker a,
                .ui-datepicker a:hover {
                    text-decoration: none;
                }

                    .ui-datepicker a:hover,
                    .ui-datepicker td:hover a {
                        color: #2A6496;
                        -webkit-transition: color 0.1s ease-in-out;
                        -moz-transition: color 0.1s ease-in-out;
                        -o-transition: color 0.1s ease-in-out;
                        transition: color 0.1s ease-in-out;
                    }

                .ui-datepicker .ui-datepicker-header {
                    margin-bottom: 4px;
                    text-align: center;
                }

                .ui-datepicker .ui-datepicker-title {
                    font-weight: 700;
                }

                .ui-datepicker .ui-datepicker-prev,
                .ui-datepicker .ui-datepicker-next {
                    cursor: default;
                    font-family: 'Glyphicons Halflings';
                    -webkit-font-smoothing: antialiased;
                    font-style: normal;
                    font-weight: normal;
                    height: 20px;
                    line-height: 1;
                    margin-top: 2px;
                    width: 30px;
                }

                .ui-datepicker .ui-datepicker-prev {
                    float: left;
                    text-align: left;
                }

                .ui-datepicker .ui-datepicker-next {
                    float: right;
                    text-align: right;
                }

                .ui-datepicker .ui-datepicker-prev:before {
                    content: "\e079";
                }

                .ui-datepicker .ui-datepicker-next:before {
                    content: "\e080";
                }

                .ui-datepicker .ui-icon {
                    display: none;
                }

                .ui-datepicker .ui-datepicker-calendar {
                    table-layout: fixed;
                    width: 100%;
                }

                    .ui-datepicker .ui-datepicker-calendar th,
                    .ui-datepicker .ui-datepicker-calendar td {
                        text-align: center;
                        padding: 4px 0;
                    }

                    .ui-datepicker .ui-datepicker-calendar td {
                        border-radius: 4px;
                        -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                        -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                        -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                    }

                        .ui-datepicker .ui-datepicker-calendar td:hover {
                            background-color: #eee;
                            cursor: pointer;
                        }

                        .ui-datepicker .ui-datepicker-calendar td a {
                            text-decoration: none;
                        }

                .ui-datepicker .ui-datepicker-current-day {
                    background-color: #4289cc;
                }

                    .ui-datepicker .ui-datepicker-current-day a {
                        color: #fff;
                    }

                .ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
                    background-color: #fff;
                    cursor: default;
                }
        </style>
        @RenderSection("Scripts", false )
	</body>
</html>