
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>About Food Banks MVC</h2>
            <p>Food Banks MVC is a small MVC 5 web application that is designed to showcase a subset of my development skills.  As a Certified Scrum Master, I believe it is important for me to understand the technologies that make up the daily work my teams utilize and to better understand the epics, stories, tasks, etc. in the backlog.</p>
            <p>
                I utilized the following closed/open source technologies, platforms and tools to create this sample.  Code is available on request.
                <ul style="list-style-type: none;">
                    <li>Microsoft Azure <i>(Deployed)</i></li>
                    <li>Visual Studio 2015 <i>(Development Tool)</i></li>
                    <li><a href="http://www.chrisparkeronline.com/api/help/" target="_blank">Food Banks - Web Api</a> <i>(Json Data Access)</i></li>
                    <li>C#/Razor</li>
                    <li>Asp.net 4.5</li>
                    <li>MVC 5</li>
                    <li>HTML 5</li>
                    <li>Bootstrap 3</li>
                    <li>Java script</li>
                    <li>JQuery 2.1</li>
                    <li>JQuery Ui 1.11</li>
                    <li>Attribute Routing</li>
                    <li>Rest Sharp</li>
                </ul>
            </p>
        </div>

    </div>
</div>